.footer {
  background-color: #f6f6f8;
  padding-top: 70px;
  padding-bottom: 30px;
  &_container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_lists {
    &--wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 70px;
      margin-bottom: 30px;
    }
    &--item {
      &--title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 35px;
      }
      &--list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        li {
          display: flex;
          gap: 15px;
          align-items: center;
        }
        &--link {
          font-family: Montserrat;
          font-weight: 400;
          font-size: 14px;
          line-height: 22.19px;
          letter-spacing: 0%;
          color: #999999;
        }
      }
    }
  }
  &_text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.6px;
    letter-spacing: 0%;
    text-align: center;
    color: #999999;
  }
}
