.header {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 335px;

  &_container {
    max-width: 1113px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }

  &_top {
    border-bottom: 1px solid #a1a1a1;

    .header_container {
      display: flex;
      justify-content: end;
    }

    &--list {
      display: flex;
      gap: 40px;

      li:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;

        &::after {
          content: "";
          margin-top: 39px;
          display: block;
          width: 107px;
          height: 2px;
          background-color: #fff;
        }
      }

      &--link {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0%;
        transition: 0.3s ease-in-out;
        color: #ffffff;

        &:hover {
          color: #d3d3d3;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }

  &_mobile--menu {
    display: none;
    padding-bottom: 40px;

    &--btn {
      cursor: pointer;
    }

    &--list {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 200px;
      z-index: 2;
      background-color: rgb(21, 88, 212);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.8s ease-in-out;
      transform: translateX(100%);

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
      }
    }
  }

  &_bottom {
    padding-top: 219px;

    .header_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--text {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      line-height: 19.5px;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;
    }

    &--title {
      font-family: Montserrat;
      font-weight: 800;
      font-size: 48px;
      line-height: 64.36px;
      letter-spacing: 0%;
      text-align: center;
      max-width: 829px;
      color: #ffffff;
      margin-bottom: 50px;
    }
  }
}

@import "../scss/adaptive/header-adaptive";
